/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

body {
	background-image: url("../images/barfleet_main_bg.jpg");
	background-position: center top;
}

// Ship sprites
.ship-logo {
	background-size: $x1030iconwidth ($x1030iconheight * 7);
	height: $x1030iconheight;
	width: $x1030iconwidth;
}
.ship-casual {
	background-position: 0 0;
}
.ship-columbus {
	background-position: 0 0-($x1030iconheight);
}
.ship-indycent {
	background-position: 0 0-($x1030iconheight * 2);
}
.ship-shameless {
	background-position: 0 0-($x1030iconheight * 3);
}
.ship-abandon {
	background-position: 0 0-($x1030iconheight * 4);
}
.ship-delirium {
	background-position: 0 0-($x1030iconheight * 5);
}
.fleet-level {
	background-position: 0 0-($x1030iconheight * 6);
}
a.ship-link {
	font-size: 1.0em;
}


.wrap {
	width: $x1030width;
}

.header {
	height: $x1030headerheight;
	#inner-header {
		height: $x1030headerheight;
	}
}

#logo {
	background-image: url("../images/barfleet_header_1030.png");
	height: $x1030headerheight;
}

#header-nav {
	height: $x1030navheight;
	width: $x1030width;
	#inner-nav {
		height: $x1030navheight;
	}
	.top-nav {
		margin: 0 $x1030hmargin;
		height: ($x1030navheight - 2);
		width: $x1030innerwidth;
		font-size: 1.05em;
		a {
			padding: ($x1030hmargin / 2);
			&:after {
				left: ($x1030hmargin / 2);
			}
		}
	}
}
.nav {
	li {
		ul.sub-menu,
		ul.children {
			li {
				a {
					width: ($x1030width * 0.24);
				}
			}
		}
	}
}

.nav-lcars {
	height: ($x1030navheight - 2);
	width: $x1030lcarswidth;
}
#content {
	margin: 0.25em auto ($x1030hmargin) auto;
	width: $x1030width;
}
#inner-content {
	width: $x1030innerwidth;
}
.content-lcars {
	width: $x1030lcarswidth;
}

.footer-bg {
	background-image: url("../images/barfleet_footer_1030.png");
	height: $x1030footerheight;
}
.footer {
	#inner-footer {
		background-image: url("../images/barfleet_footer_1030.png");
		width: $x1030width;
		margin-left: -$x1030width/2;
		padding: 0 ($x1030lcarswidth + 12 + $x1030hmargin);
	}
}

