/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

// Ship sprites
.ship-logo {
	background-size: $x1240iconwidth ($x1240iconheight * 6);
	height: $x1240iconheight;
	width: $x1240iconwidth;
}
.ship-casual {
	background-position: 0 0;
}
.ship-columbus {
	background-position: 0 0-($x1240iconheight);
}
.ship-indycent {
	background-position: 0 0-($x1240iconheight * 2);
}
.ship-shameless {
	background-position: 0 0-($x1240iconheight * 3);
}
.ship-abandon {
	background-position: 0 0-($x1240iconheight * 4);
}
.ship-delirium {
	background-position: 0 0-($x1240iconheight * 5);
}


.wrap {
	width: $x1240width;
}

.header {
	height: $x1240headerheight;
	#inner-header {
		height: $x1240headerheight;
	}
}

#logo {
	background-image: url("../images/barfleet_header_1240.png");
	height: $x1240headerheight;
}

#header-nav {
	height: $x1240navheight;
	width: $x1240width;
	#inner-nav {
		height: $x1240navheight;
	}
	.top-nav {
		margin: 0 $x1240navmargin;
		height: ($x1240navheight - 2);
		width: $x1240innerwidth;
		font-size: 1.05em;
		a {
			padding: ($x1240navmargin / 2);
			&:after {
				left: ($x1240navmargin / 2);
			}
		}
	}
}
.nav {
	li {
		ul.sub-menu,
		ul.children {
			li {
				a {
					width: ($x1240width * 0.24);
				}
			}
		}
	}
}

.nav-lcars {
	height: ($x1240navheight - 2);
	width: $x1240lcarswidth;
}
#content {
	margin: 0.25em auto ($x1240footerheight + $x1240navmargin) auto;
	width: $x1240width;
}
#inner-content {
	width: $x1240innerwidth;
}
.content-lcars {
	width: $x1240lcarswidth;
}

.footer {
	background-image: url("../images/barfleet_footer_1240.png");
	height: $x1240footerheight;

	#inner-footer {
		height: $x1240footerheight;
		width: $x1240innerwidth;
	}
}

