/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, #container {
	height: 100%;
}
body {
	font-family: $bodyfonts;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $bg-color;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

// Ship sprites
.ship-logo, .ship-logo-icon {
	background-image: url('../images/ship_logos_sprite.png');
	background-repeat: no-repeat;
	background-size: $x480iconwidth ($x480iconheight * 7);
	display: inline-block;
	height: $x480iconheight;
	margin-right: 0.25em;
	width: $x480iconwidth;
	vertical-align: middle;
}
.ship-casual, .ship-casual-icon {
	background-position: 0 0;
}
.ship-columbus, .ship-columbus-icon {
	background-position: 0 0-($x480iconheight);
}
.ship-indycent, .ship-indycent-icon {
	background-position: 0 0-($x480iconheight * 2);
}
.ship-shameless, .ship-shameless-icon {
	background-position: 0 0-($x480iconheight * 3);
}
.ship-abandon, .ship-abandon-icon {
	background-position: 0 0-($x480iconheight * 4);
}
.ship-delirium, .ship-delirium-icon {
	background-position: 0 0-($x480iconheight * 5);
}
.fleet-level, .fleet-level-icon {
	background-position: 0 0-($x480iconheight * 6);
}
a.ship-link {
	color: $gray;
	font-size: 0.875em;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	// width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	color: $bf-blue;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
	font-family: $headerfonts;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
	a, a:visited {
		color: $header-link-color;

		/* on hover */
		&:hover, &:focus {
			color: $header-link-hover;
		}

		/* on click */
		&:active {

		}
	}

}

h1, .h1 {
	font-size: 2.0em;
	line-height: 1.25em;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.125em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
	margin: 0;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: relative;
	height: $x480headerheight;
	width: 100%;
	z-index: 98;

	#inner-header {
		background-color: $bg-color;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d2879+0,091031+100&amp;0.9+0,0.85+100 */
		background: -moz-linear-gradient(top,  rgba(29,40,121,0.9) 0%, rgba(9,16,49,0.85) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(29,40,121,0.9) 0%,rgba(9,16,49,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(29,40,121,0.9) 0%,rgba(9,16,49,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61d2879', endColorstr='#d9091031',GradientType=0 ); /* IE6-9 */
		height: $x480headerheight;
		position: fixed;
	}

	.wrap {
		margin: 0;
		width: 100%;
	}
}

#logo {
	background-image: url("../images/barfleet_header_480.png");
	background-position: center top;
	background-repeat: no-repeat;
	height: $x480headerheight;
	margin: 0 0;
	position: fixed;
	width: 100%;

	a {
		color: $white;
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

#header-nav {
	display: block;
	position: relative;
	margin: 0 auto;
	height: $x480navheight;
	width: $x480width;
	z-index: 99;

	#inner-nav {
		height: $x480navheight;
		position: fixed;
	}

	.top-nav {
		border: 1px solid #191b1f;
		display: inline-block;
		margin: 0 $x480hmargin;
		height: ($x480navheight - 2);
		@media only screen {
			width: $x480innerwidth;
		}
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222529+0,191b1f+100 */
		background: rgb(34,37,41); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(34,37,41,1) 0%, rgba(25,27,31,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(34,37,41,1) 0%,rgba(25,27,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(34,37,41,1) 0%,rgba(25,27,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222529', endColorstr='#191b1f',GradientType=0 ); /* IE6-9 */
		font-size: 0.28em;
		li {
			display: inline-block;
			ul.sub-menu,
			ul.children {
				li {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222529+0,191b1f+100 */
					background: rgb(34,37,41); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(34,37,41,0.85) 0%, rgba(25,27,31,0.85) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(34,37,41,0.85) 0%,rgba(25,27,31,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(34,37,41,0.85) 0%,rgba(25,27,31,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222529', endColorstr='#191b1f',GradientType=0 ); /* IE6-9 */
					a {
						&:after {
							border-right: none;
						}
					}
				}
			}
		}
		a {
			padding: ($x480hmargin / 2);
			&:hover, &:active {
				text-decoration: none;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7090ca+0,7090ca+100&amp;0+80,0.73+100 */
				background: -moz-linear-gradient(top,  rgba(112,144,202,0) 0%, rgba(112,144,202,0) 80%, rgba(112,144,202,0.73) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(112,144,202,0) 0%,rgba(112,144,202,0) 80%,rgba(112,144,202,0.73) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(112,144,202,0) 0%,rgba(112,144,202,0) 80%,rgba(112,144,202,0.73) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007090ca', endColorstr='#ba7090ca',GradientType=0 ); /* IE6-9 */
			}
			&:after {
				content: "";
				width: 0;
				height: 1.0em;
				left: ($x480hmargin / 2);
				position: relative;
				border-right: 1px solid #000;
			}
		}
	}
}

.nav-lcars {
	border: 1px solid #3558f8;
	background-color: #ffdac1;
	display: inline-block;
	opacity: 0.25;
	height: ($x480navheight - 2);
	width: $x480lcarswidth;
}

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin: 0.25em auto ($x480hmargin) auto;
	height: auto;
	position: relative;
	@media only screen {
		width: $x480width;
	}
	z-index: 50;

	h1.page-title {
		font-size: 1.75em;
	}
	.page-title, .widgettitle {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#142052+0,586f98+50,142052+100 */
		background: rgb(20,32,82); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(20,32,82,1) 0%, rgba(88,111,152,1) 50%, rgba(20,32,82,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(20,32,82,1) 0%,rgba(88,111,152,1) 50%,rgba(20,32,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(20,32,82,1) 0%,rgba(88,111,152,1) 50%,rgba(20,32,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142052', endColorstr='#142052',GradientType=1 ); /* IE6-9 */
		border: 1px solid #1d2c7e;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: #ffffff;
		padding: 0 0.25em;
		min-height: 2.5rem;
		text-align: center;
		text-shadow: 0 0 10px #444444, -1px -1px 1px #444444;
		vertical-align: bottom;
	}
	h4.widgettitle {
		padding-top: 0.375rem;
	}

}
#inner-content {
	position: relative;
	height: auto;
	@media only screen {
		width: $x480innerwidth;
	}
	z-index: 50;
}
.sponsor {
	font-size: 90%;
}

.content-lcars {
	border: 1px solid #3558f8;
	background-color: #203588;
	display: inline-block;
	float: left;
	opacity: 0.42;
	position: absolute;
	height: 100%;
	width: $x480lcarswidth;
	z-index: 2;
}
.lcars-left {
	top: 0;
	left: 0;
}
.lcars-right {
	top: 0;
	right: 0;
}

.hentry {
	border-radius: 3px;
	margin-bottom: 1.5em;
	&:last-child {
		margin-bottom: 0;
	}

	header {
		padding: 0;
	}

	footer {
		padding: 1.5em;

		p {
			margin: 0;
		}

		&:last-child {
			padding: 0.25em;
		}
	}

} /* end .hentry */

section.entry-content, .outerwidget {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#142052+0,586f98+50,142052+100 */
	background: rgb(20,32,82); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(20,32,82,1) 0%, rgba(88,111,152,1) 50%, rgba(20,32,82,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(20,32,82,1) 0%,rgba(88,111,152,1) 50%,rgba(20,32,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(20,32,82,1) 0%,rgba(88,111,152,1) 50%,rgba(20,32,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142052', endColorstr='#142052',GradientType=1 ); /* IE6-9 */
	border-width: 1px;
	border-style: outset;
	border-color: #1c2b79;
	margin: 0.25em 0 1.0em;
	padding: 0.25em;

	.inner-entry-content, .innerwidget {
		background-color: #222529;
		border-width: 1px;
		border-style: inset;
		border-color: #1c2b79;
	}
	.inner-entry-content {
		padding: 1.5rem;
		text-align: justify;
	}
	.innerwidget {
		padding: 0.5em;
		h1, h2, h3, h4, h5, h6 {
			background: none !important;
			border: none !important;
			font-size: 96%;
			a, a:visited {
				color: $link-color;

				/* on hover */
				&:hover, &:focus {
					color: $link-hover;
				}

				/* on click */
				&:active {

				}
			}
		}
	}
}
.single-title,
.page-title,
.entry-title {
	margin: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	font-size: 0.9em;
	margin: 0;
	text-align: right;
	time {}
}

/* entry content */
.entry-content {
	padding: 1.5em 1.5em 0;

	p {
		margin: 0 0 1.5em;
	}

	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			// background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		// background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.widgettitle {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.widget {

	ul {
		li {
			&:first-child {}

			&:last-child {}

			a {}

			/* deep nesting */
			ul {}

		}
	}
	ul, ol {
		margin: 0 0 0.5em 0;
	}

}

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

input[type=search] {
	color: $black;
	height: 2.0rem;
	width: 85%;
}

/*********************
FOOTER STYLES
*********************/

.footer-bg {
	background-image: url("../images/barfleet_footer_480.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	height: $x480footerheight;
	left: 0;
	margin: auto 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
}
.footer {
	clear: both;
	margin: auto 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;

	#inner-footer {
		background-image: url("../images/barfleet_footer_480.png");
		background-position: center bottom;
		background-repeat: no-repeat;
		width: $x480width;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -$x480width/2;
		padding: 0 ($x480lcarswidth + 12 + $x480hmargin);
	}

	.wrap {
		margin: 0;
		width: 100%;
	}
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
.footer-links {

	ul {

		li {}

	}

} /* end .footer-links */


.copyright {
	// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f2b57+0,1f2b57+100&0+0,1+15,1+100 */
	// background: -moz-linear-gradient(top,  rgba(31,43,87,0) 0%, rgba(31,43,87,1) 15%, rgba(31,43,87,1) 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(top,  rgba(31,43,87,0) 0%,rgba(31,43,87,1) 15%,rgba(31,43,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(to bottom,  rgba(31,43,87,0) 0%,rgba(31,43,87,1) 15%,rgba(31,43,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001f2b57', endColorstr='#1f2b57',GradientType=0 ); /* IE6-9 */
	font-size: 0.75em;
	margin: 0;
}

/******************************************************************
TRIBE EVENT STYLES
******************************************************************/

#tribe-bar-form {
	background: $black;
}
#tribe-bar-collapse-toggle {
	background: darken($black, 9%);
}
.tribe-bar-views-inner {
	background: lighten($black, 27%);
}
.tribe-events-list-separator-month span, .tribe-events-notices {
	background-color: $bg-color;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d2879+0,091031+100&amp;0.9+0,0.85+100 */
	background: -moz-linear-gradient(top,  rgba(29,40,121,0.9) 0%, rgba(9,16,49,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(29,40,121,0.9) 0%,rgba(9,16,49,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(29,40,121,0.9) 0%,rgba(9,16,49,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61d2879', endColorstr='#d9091031',GradientType=0 ); /* IE6-9 */
	border: 1px solid #1d2c7e;
	color: $white;
	text-shadow: none;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background: lighten($black, 36%);
	&:hover {
		background: lighten($black, 27%);
	}
}
.tribe-events-calendar {
	background-color: $white;
	thead th {
		border: 1px solid $white !important;
	}
}
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
	background: darken($white, 15%);
}
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth {
	background: $bg-color;
}
#tribe-events-content .tribe-events-tooltip {
	h1, h2, h3, h4, h5, h6 {
		color: $bf-blue;
	}
}
.tribe-events-list-widget {
	.tribe-event-title {
		text-align: left !important;
	}
	ol li {
		margin-bottom: 1.25em;
	}
}
.tribe-events-month-event-title {
	background: none !important;
	border: none !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	font-weight: 700 !important;
}


/******************************************************************
SHIP CATEGORIES
******************************************************************/

.cat_casual {
	h3.tribe-events-month-event-title a {
		color: #b6831d;
	}
}
.cat_columbus {
	h3.tribe-events-month-event-title a {
		color: #ec1d25;
	}
}
.cat_indycent {
	h3.tribe-events-month-event-title a {
		color: #013a1a;
	}
}
.cat_shameless {
	h3.tribe-events-month-event-title a {
		color: #d89900;
	}
}
.cat_abandon {
	h3.tribe-events-month-event-title a {
		color: #16489d;
	}
}
.cat_delirium {
	h3.tribe-events-month-event-title a {
		color: #00a24c;
	}
}
.cat_fleet {
	h3.tribe-events-month-event-title a {
		color: #091031;
	}
}
