/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

body {
	background-image: url("../images/barfleet_main_bg.jpg");
	background-position: center top;
}

.wrap {
  width: 1040px;
}

#logo {
	background-image: url("../images/barfleet_header_1030.jpg");
	height: 180px;
}
