/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

body {
	background-image: url("../images/barfleet_main_bg.jpg");
	background-position: center top;
}

.wrap {
	width: $x1030width;
}

.header {
	height: $x1030headerheight;
}

#inner-header {
	background-image: url("../images/barfleet_header_bg_1030.png");
	height: $x1030headerheight;
}

#logo {
	background-image: url("../images/barfleet_header_1030.png");
	height: $x1030headerheight;
}

#header-nav {
	height: $x1030navheight;
	width: $x1030width;
	#inner-nav {
		height: $x1030navheight;
	}
	#menu-primary {
		margin: 0 $x1030navmargin;
		width: $x1030innerwidth;
		font-size: 1.05em;
		a {
			padding: ($x1030navmargin / 2);
			&:after {
				left: ($x1030navmargin / 2);
			}
		}
	}
}

.nav-lcars {
	height: ($x1030navheight - 2);
	width: $x1030lcarswidth;
}
#content {
	width: $x1030width;
}
#inner-content {
	width: $x1030innerwidth;
}
.content-lcars {
	width: $x1030lcarswidth;
}
