/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

body {
	background-image: url("../images/barfleet_main_bg.jpg");
	background-position: center top;
}

.wrap {
	width: 1040px;
}

.header {
	height: 180px;
}

#inner-header {
	background-image: url("../images/barfleet_header_bg_1030.png");
	height: 180px;
}

#logo {
	background-image: url("../images/barfleet_header_1030.png");
	height: 180px;
}

#header-nav {
	height: 42px;
	width: 1000px;
	#inner-nav {
		height: 42px;
	}
	#menu-primary {
		margin: 0 14px;
		width: 820px;
		font-size: 1.05em;
		a {
			padding: 7px;
			&:after {
				left: 7px;
			}
		}
	}
}

.nav-lcars {
	height: 40px;
	width: 72px;
}
