/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
	width: $x1240width;
}

.header {
	height: $x1240headerheight;
}

#inner-header {
	background-image: url("../images/barfleet_header_bg_1240.png");
	height: $x1240headerheight;
}

#logo {
	background-image: url("../images/barfleet_header_1240.png");
	height: $x1240headerheight;
}

#header-nav {
	height: $x1240navheight;
	width: $x1240width;
	#inner-nav {
		height: $x1240navheight;
	}
	.top-nav {
		margin: 0 $x1240navmargin;
		width: $x1240innerwidth;
		font-size: 1.05em;
		a {
			padding: ($x1240navmargin / 2);
			&:after {
				left: ($x1240navmargin / 2);
			}
		}
	}
}

.nav-lcars {
	height: ($x1240navheight - 2);
	width: $x1240lcarswidth;
}
#content {
	width: $x1240width;
}
#inner-content {
	width: $x1240innerwidth;
}
.content-lcars {
	width: $x1240lcarswidth;
}
